{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Line Chart
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
	  var graph;

	  function update() {
        $.ajax({
          url: "/line_api/{{ arduino }}/",
        }).done(function(json) { 
	        var data = json;
            var data = google.visualization.arrayToDataTable(data);
	        graph.draw(data, {curveType: "function",
                        width: 800, height: 600,
                        vAxis: {maxValue: 255}});
            setTimeout(update, 500);

        });
	  }

	  function drawVisualization() {
        // Create and draw the visualization.
        graph = new google.visualization.LineChart(document.getElementById('visualization'));
	    update();
	  }

	  google.setOnLoadCallback(drawVisualization);
    </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
    <div id="visualization" style="width: 800px; height: 600px;"></div>
	<a href="/">Back</a> - 	<a href="{% url gauge arduino %}">Gauge</a>
  </body>
</html>
