<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Line Chart
    </title>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.flot.js"></script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
	<h1>Line</h1>
	<div id="placeholder" style="width:800px;height:600px;"></div>

	<p><a href="/">Back</a> - 	<a href="/gauge/{{ arduino }}/">Gauge</a></p>

    <script type="text/javascript">
    $(function () {
    	 function update() {
           $.ajax({
             url: "/line_api/{{ arduino }}/",
           }).done(function(json) { 
               $.plot($("#placeholder"), json);
               setTimeout(update, 50);
           });
    	 }
         update();
    });
    </script>

  </body>
</html>
